
{% extends "layout.html" %}

{% block pageTitle %}
  Home – Intro to the DBU
{% endblock %}

{% block header %}
<header>
    <style>
     header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 999
      }
    </style>
    <script>
      window.onscroll = function() {myFunction()};
      var header = document.getElementByID("myHeader");
      var sticky = header.offsetTop;
      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link href="http://fonts.cdnfonts.com/css/century-gothic" rel="stylesheet">
    <div class="header" 
          id="myHeader" 
          style="background: #fede7b;
                padding: 10px 20px">
      <div>
      <a href="https://thepsc.co.uk/" 
          style="font-family: 'Playfair Display'; 
                font-size: 40px; 
                color: #1C1E57; 
                font-weight: bolder">
          The PSC</a>
      </div>
      <div>
      <p style="font-family: 'Playfair Display'; 
                color: #1C1E57; 
                font-size: 15px; 
                font-weight: lighter; 
                font-style: italic">
        Digital Business Unit</p>
      </div>
    </div>
</header>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Bid Editing 2 Feedback
      </h1>
      <p> Reflect on the submitted bid and your edited version alongside the feedback provided to the original submitted bid.
      </p>

      <h2 class="govuk-heading-m" id="subsection-title">
        Submitted Bid
      </h2>
      
      <p><b>Criteria:</b> Agile delivery - Demonstrate a track-record of using Agile approaches to successfully deliver projects, preferably in the public sector</p>

      <p><b>Bid:</b> We led the Agile, end-to-end, paper-to-digital transformation of FCDO’s complex system for managing international staff moves.  

        The project was conducted in an entirely Agile manner, upskilling members of the multi-disciplinary team in Agile approaches where needed. We undertook extensive user research, then developed a prototype, which we tested with both end-users and back-office staff, resulting in dozens of iterations. Throughout Discovery, Alpha and Beta, we held Agile ceremonies including standups, show-and-tells and retros, and utilised Agile software such as Slack, Jira and Trello.
        
        The resulting service has reduced the time required to move staff by 90% and eliminated errors entirely.</p>

        <h2 class="govuk-heading-m" id="subsection-title">
          Your Edited Bid
        </h2>
        <p><b>Your Bid:</b><dd class="govuk-summary-list__value">
          {{ data['edited-bid-2'] }}
        </dd></p>



      </form>

    <p><b>Feedback given on submitted bid:</b> Covers agile delivery in broad terms. Needed more detail on ways of working</p>

    <p>Reflect upon whether your edited bid addresses the concerns raised in the feedback given to the submitted bid</p>
      <a href="Bid-editing-2" class="govuk-back-link">Back</a>
      <a href="Bid-editing-3" class="next">Next &raquo;</a>
    </div>


  <div class="govuk-grid-column-one-third" id="navBar">

    <style>
      #navBar {
         position: sticky;
         top: 160px;
       }
     </style>
     <script>
       window.onscroll = function() {myFunction()};
       var navBar = document.getElementByID("navBar");
       var sticky = navBar.offsetTop;
       function myFunction() {
         if (window.pageYOffset > sticky) {
           navBar.classList.add("sticky");
         } else {
           navBar.classList.remove("sticky");
         }
       }
     </script>

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Website navigation
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="Prototype">
              GOV.UK Prototyping kit
            </a>
            <p style="font-size: 14px">What it is, how the DBU uses it, and where to go for help</p>
          </li>
          <li>
            <a href="GDS">
              GDS Standards
            </a>
            <p style="font-size: 14px">What they are, why they're important, and how we follow them</p>
          </li>
          <li>
            <a href="DBU-work">
              Working in the DBU
            </a>
            <p style="font-size: 14px">Types of projects, DBU teams, and skills to learn and develop</p>
          </li>
          <li>
            <a href="Bid-writing.html">
              Bid Writing
            </a>
            <p style="font-size: 14px">Bid writing tips and helpful exercises</p>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
  </div>

{% endblock %}