{% extends "layout.html" %}

{% block pageTitle %}
  Working in the DBU
{% endblock %}

{% block header %}
<header>
    <style>
     header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 999
      }
    </style>
    <script>
      window.onscroll = function() {myFunction()};
      var header = document.getElementByID("myHeader");
      var sticky = header.offsetTop;
      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link href="http://fonts.cdnfonts.com/css/century-gothic" rel="stylesheet">
    <div class="header" 
          id="myHeader" 
          style="background: #fede7b;
                padding: 10px 20px">
      <div>
      <a href="https://thepsc.co.uk/" 
          style="font-family: 'Playfair Display'; 
                font-size: 40px; 
                color: #1C1E57; 
                font-weight: bolder">
          The PSC</a>
      </div>
      <div>
      <p style="font-family: 'Playfair Display'; 
                color: #1C1E57; 
                font-size: 15px; 
                font-weight: lighter; 
                font-style: italic">
        Digital Business Unit</p>
      </div>
    </div>
</header>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">
        Working in the DBU
      </h1>

      <p>You can find more information in the <a href="https://docs.google.com/presentation/d/1crd50vqp0TR8ZTVzIPDNzB_hYPMZFYNiHvJ8Qv6KvGk/edit?usp=sharing">Welcome to the DBU induction pack</a>.</p>

      <h2 class="govuk-heading-m">DBU projects and ways of working</h2>

      <p>The DBU works across three areas:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Strategy and audit</li>
        <li>Investment cases</li>
        <li>Digital service delivery and programme management</li>
      </ul>
      <p>Many projects have a similar structure and way of working to projects in other Business Units. Digital service delivery projects, however, have a different structure. These consist of three phases - <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works">discovery</a>, <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works">alpha</a>, and <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works">beta</a>.</p>

      <p>In all DBU projects, we follow <a href="https://www.gov.uk/service-manual/agile-delivery">agile methodology</a>, specifically the <a href="https://www.atlassian.com/agile/scrum">scrum framework</a>, structuring work in two-week 'sprints'. The ideas behind this are laid out in the <a href="https://agilemanifesto.org/">agile manifesto</a> and <a href="https://agilemanifesto.org/principles.html">principles</a>.</p>

      <h3 class="govuk-heading-s">Planning a DBU project</h3>

      <p>The high-level strategic plan for a project is called the roadmap. It is used for communicating milestones and objectives, and includes actions being taken 'Now', 'Next' and 'Later'. The <a href="https://www.notifications.service.gov.uk/features/roadmap">GOV.UK Notify roadmap</a> gives an example of how they work.</p>
      
      <p>More detailed planning is done through managing the <a href="https://www.atlassian.com/agile/scrum/backlogs">backlog</a>, a prioritised list of the work required, derived from the roadmap.</p>

      <p>Backlogs are composed of <a href="https://www.atlassian.com/agile/project-management/user-stories">stories</a>, explanations of individual software features and how they will help users. These are grouped into <a href="https://www.atlassian.com/agile/project-management/epics">epics</a>, a group of stories related to a single deliverable.</p>

      <h2 class="govuk-heading-m">Members of the DBU team</h2>

      <p>Any generalist consultant could be part of the DBU. Teams are generally around 3-10 people. Your role varies depending on the <a href="https://www.gov.uk/service-manual/the-team/what-each-role-does-in-service-team">role you take on in the service team</a>.</p>
      
      <p>You can find out more about the current members of the DBU and what they've been up to on <a href="https://thepsc.co.uk/digital/">The PSC website</a>.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Roles in a DBU team
          </span>
        </summary>
        <div class="govuk-details__text">
          The <a href="GDS">GDS Service Standards</a> suggest the following team members are necessary:
          <ul>
            <li><a href="https://www.gov.uk/guidance/product-manager">Product manager</a></li>
            <li><a href="https://www.gov.uk/guidance/service-owner">Service owner</a></li>
            <li><a href="https://www.gov.uk/guidance/delivery-manager">Delivery manager</a></li>
            <li><a href="https://www.gov.uk/guidance/user-researcher">User researcher</a></li>
            <li><a href="https://www.gov.uk/guidance/content-designer">Content designer</a></li>
            <li>Designer - <a href="https://www.gov.uk/guidance/interaction-designer">interaction designer</a>, <a href="https://www.gov.uk/guidance/service-designer">service designer</a>, and/or <a href="https://www.gov.uk/guidance/graphic-designer">graphic designer</a></li>
            <li><a href="https://www.gov.uk/guidance/software-developer">Developer</a></li>
          </ul>
          Sometimes other team members are needed as well, including:
          <ul>
            <li><a href="https://www.gov.uk/guidance/performance-analyst">Performance analyst</a></li>
            <li><a href="https://www.gov.uk/guidance/technical-architect">Technical architect</a></li>
            <li><a href="https://www.gov.uk/guidance/development-operations-devops-engineer">DevOps engineer</a></li>
            <li><a href="https://www.gov.uk/guidance/business-analyst--2">Business analyst</a></li>
            <li><a href="https://www.gov.uk/guidance/quality-assurance-testing-qat-analyst">Quality assurers and testers</a></li>
            <li><a href="https://www.gov.uk/guidance/technical-writer">Technical writers</a></li>
          </ul>
          <p>In the DBU, junior team members are mostly likely to take on the roles of user researcher, content designer and business analyst.</p>
          <p>Senior team members are likely to take on the product manager and delivery manager roles.</p>
          <p>All team members are likely to play roles as quality assurers and testers.</p>
        </div>
      </details>

      <h2 class="govuk-heading-m">Skills to learn and develop</h2>

      <p>[Numerical analysis - FEP]</p>
      <p>[Business analysis - MoSCoW/priority matrix etc]</p>
      <p>[User research - methods, products, UX design links]</p>
      <p>[Prototyping - link to Prototyping Kit]</p>

      <h2 class="govuk-heading-m">Links to help and guidance</h2>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            The PSC prototyping guide
          </span>
        </summary>
        <div class="govuk-details__text">
          The PSC has a <a href="https://fedup-prog-course.herokuapp.com/index.html">guide to help you use the Prototyping Kit</a>, developed as part of DBU Training materials, including how to set up the prerequisites required to start using the kit.
        </div>
      </details>

    </div>

    <div class="govuk-grid-column-one-third" id="navBar">

      <style>
        #navBar {
           position: sticky;
           top: 160px;
         }
       </style>
       <script>
         window.onscroll = function() {myFunction()};
         var navBar = document.getElementByID("navBar");
         var sticky = navBar.offsetTop;
         function myFunction() {
           if (window.pageYOffset > sticky) {
             navBar.classList.add("sticky");
           } else {
             navBar.classList.remove("sticky");
           }
         }
       </script>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Website navigation
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="home">
                Home
              </a>
              <p></p>
            </li>
            <li>
              <a href="Prototype">
                GOV.UK Prototyping kit
              </a>
              <p style="font-style: italic; font-size: 14px">What it is, how the DBU uses it, and where to go for help</p>
            </li>
            <li>
              <a href="GDS">
                GDS Standards
              </a>
              <p style="font-style: italic; font-size: 14px">What they are, why they're important, and how we follow them</p>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

{% endblock %}
