{% extends "layout.html" %}

{% block pageTitle %}
  GDS Standards
{% endblock %}

{% block header %}
<header>
    <style>
     header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 999;
      }
    </style>
    <script>
      window.onscroll = function() {myFunction()};
      var header = document.getElementByID("myHeader");
      var sticky = header.offsetTop;
      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link href="http://fonts.cdnfonts.com/css/century-gothic" rel="stylesheet">
    <div class="header" 
          id="myHeader" 
          style="background: #fede7b;
                padding: 10px 20px">
      <div>
      <a href="https://thepsc.co.uk/" 
          style="font-family: 'Playfair Display'; 
                font-size: 40px; 
                color: #1C1E57; 
                font-weight: bolder">
          The PSC</a>
      </div>
      <div>
      <p style="font-family: 'Playfair Display'; 
                color: #1C1E57; 
                font-size: 15px; 
                font-weight: lighter; 
                font-style: italic">
        Digital Business Unit</p>
      </div>
    </div>
</header>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">
        GDS Standards
      </h1>

      <h2 class="govuk-heading-m">What are the GDS Service Standards</h2>

      <p>The <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service (GDS)</a> has published a series of 14 standards for digital services to adhere to.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            The GDS Service Standards
          </span>
        </summary>
        <div>
          <img src="https://miro.medium.com/max/1400/1*ehbkEhjrrKhCEVRvDqA21Q.jpeg" height="545" width="420"></img>
        </div>
      </details>

      <p>The <a href="https://www.gov.uk/service-manual/service-standard">Service Manual</a> provides more detail on these, and the measures teams should take to ensure they're delivering best practice digital public services.</p>

      <h2 class="govuk-heading-m">How the DBU uses the Standards</h2>

      <p>We aim to fully meet all Standards at each stage of the digital service design process. To keep track of what we've done to fulfill them, we create GDS Wikis. These help to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Keep them in everyone's minds during the project</li>
        <li>Ensure we are meeting all standards</li>
        <li>Provide evidence to show where we are meeting them</li>
      </ul>

      <p>You can explore the Wiki created for the Monitor your Satellites Beta below to see the kinds of things we include.</p>

      <iframe src="https://sst-tech-docs.london.cloudapps.digital/gdswiki/" height="389" width="640" allowfullscreen="true"></iframe>
      <p></p>

      <p>We also have <a href="https://www.gov.uk/service-manual/service-assessments/how-service-assessments-work">service assessments</a> to check we're meeting the Standards. We currently have a 100% pass rate. Our Wikis help to provide evidence for these.</p>
      
      <h2 class="govuk-heading-m">Why the Standards are important</h2>

      <p>Following the Standards helps us to make sure that the services we make are user focused, secure and reliable, and constantly improving. This helps us deliver great public services.</p>

      <h3 class="govuk-heading-s">User focused</h3>

      <p>Public services have to serve everyone, so it's important that their development is based on the <a href="https://xd.adobe.com/ideas/career-tips/what-is-ux-design/">needs and experiences</a> of the <a href="https://gds.blog.gov.uk/2018/06/29/building-inclusive-government-services/">full range of users</a>.</p> 
      <p>Following the Standards helps ensure services are simple and <a href="https://www.gov.uk/service-manual/design/making-your-service-more-inclusive">accessible for everyone</a>, with no specialist knowledge needed to access them.</p>

      <h3 class="govuk-heading-s">Secure and reliable</h3>

      <p>Public services often deal with sensitive and personal parts of people's lives, making the information digitial services gather just as sensitive. Government has a <a href="https://www.gov.uk/data-protection">legal duty</a> to <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/accountability-and-governance/data-protection-by-design-and-default/">protect this information</a>.</p>
      <p>Digital public services also need to be available for users when they want to use them, 24 hours a day, 365 days a year. </p>

      <h3 class="govuk-heading-s">Constantly improving</h3>

      <p>As the needs of service users change, and the context of the service changes, public services need to be able to respond. Working in an <a href="https://www.gov.uk/service-manual/agile-delivery">agile</a>, <a href="https://www.smartsheet.com/iterative-process-guide">iterative</a> and <a href="https://digitalpublicservices.gov.wales/what-is-a-multidisciplinary-team/">multidisciplinary</a> way helps to make that easier.</p>
      <p>The development of one service can also help make others better by <a href="https://gds.blog.gov.uk/2017/09/04/the-benefits-of-coding-in-the-open/">coding in the open</a>, sharing learning and developing best practice. The Standards themselves were <a href="https://gds.blog.gov.uk/2019/05/09/welcome-to-the-updated-service-standard/">updated in 2019</a> and will be updated again.</p>

    </div>

    <div class="govuk-grid-column-one-third" id="navBar">

      <style>
        #navBar {
           position: sticky;
           top: 160px;
         }
       </style>
       <script>
         window.onscroll = function() {myFunction()};
         var navBar = document.getElementByID("navBar");
         var sticky = navBar.offsetTop;
         function myFunction() {
           if (window.pageYOffset > sticky) {
             navBar.classList.add("sticky");
           } else {
             navBar.classList.remove("sticky");
           }
         }
       </script>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Website navigation
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="home">
                Home
              </a>
              <p></p>
            </li>
            <li>
              <a href="Prototype">
                GOV.UK Prototyping kit
              </a>
              <p style="font-size: 14px">What it is, how the DBU uses it, and where to go for help</p>
            </li>
            <li>
              <a href="DBU-work">
                Working in the DBU
              </a>
              <p style="font-size: 14px">Types of projects, DBU teams, and skills to learn and develop</p>
            </li>
            <li>
              <a href="Bid-writing.html">
                Bid Writing
              </a>
              <p style="font-size: 14px">Bid writing tips and helpful exercises</p>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>

{% endblock %}
