{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<header>
    <style>
     header {
        position: sticky;
        top: 0;
        width: 100%;
      }
    </style>
    <script>
      window.onscroll = function() {myFunction()};
      var header = document.getElementByID("myHeader");
      var sticky = header.offsetTop;
      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link href="http://fonts.cdnfonts.com/css/century-gothic" rel="stylesheet">
    <div class="header" 
          id="myHeader" 
          style="background: #fede7b;
                padding: 10px 20px">
      <div>
      <a href="https://thepsc.co.uk/" 
          style="font-family: 'Playfair Display'; 
                font-size: 40px; 
                color: #1C1E57; 
                font-weight: bolder">
          The PSC</a>
      </div>
      <div>
      <p style="font-family: 'Playfair Display'; 
                color: #1C1E57; 
                font-size: 15px; 
                font-weight: lighter; 
                font-style: italic">
        Digital Business Unit</p>
      </div>
    </div>
</header>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Welcome to the DBU",
            href: "/start"
          },
          {
            text: "Who we are",
            href: "Whoweare"
          },
          {

          }
        ]
      }) }}
      <h1 class="govuk-heading-xl">
        Who we are
      </h1>

      <p> In 2021 The PSC split into 3 business units one of which was the DBU. We help public sector clients with an array of digital needs,
        helping them adapt to a rapidly changing digital landscape.
         Currently any consultant might be drafted onto a DBU project, or asked
         to help us win bids, but we have a few permanent managers and partners. </p>

        <h1 class="govuk-fieldset__legend--l">
          Meet the team
        </h1>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Phil Buckley, Digital Director</h3>
<img src="/public/images/PB2.png" alt="Picture of phil" width="300" height="200">
        <P>A digital specialist who has won multiple awards and led many successful transformations across Government,
           Phil has been with The PSC since 2019 and is our first ever Digital Director.
            Phil’s drive, optimism, and unflappability have helped our clients achieve major savings and improvements in user satisfaction,
             while resolving some of their most complex and intractable problems.<p>
          </div>

          <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s">Dr Antonio Weiss, Senior Partner</h3>
<img src="/public/images/AW2.png" alt="Picture of antonio" width="300" height="200">
<P>Antonio specialises in using data science and new technologies to design effective public services,
  with a specific focus on education, administrative and health and care systems.

Antonio believes that the strength, resilience and performance of public services are key to successful,
 diverse and high-functioning societies. </p>
          </div>
        </div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-s">Katie Burns, Senior Manager</h3>
  <img src="/public/images/KB .png" alt="Picture of Katie" width="200" height="134">

    <p> Katie is known at The PSC for her creativity and love of primary research.
       She previously worked in Insight and as an Innovation Manager
      for a leading UK children’s charity, and is now a dedicated member of The PSC’s digital unit.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s">Tushar Mehta, Product Manager</h3>
        <img src="/public/images/TM .png" alt="Picture of Tushar" width="200" height="134">
        <p> Compassionate and trustworthy, Tushar believes in open and transparent communication at all levels.
           With a broad range of experience, he brings a unique perspective to problem solving with
            a strong and clear focus on final goals. </p>
        </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s">Mark Buckley, Senior Product Manager </h3>
          <img src="/public/images/MB2.png" alt="Picture of Mark" width="200" height="134">
            <p> Mark has spent the last 10 years working in digital and honed his skills in product management at Government Digital Service. Using practical experience,
               he keeps the user front of mind while understanding how that fits in with
                technology choices and organisational capability. </P>
            </div>
  <div class= "govuk-grid-column-full">
  <form class="form" action="/who-we-are-answer" method="post">

         {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "where-would-you-like-to-go-next",
        name: "where-would-you-like-to-go-next",
        fieldset: {
          legend: {
            text: "Where would you like to go next?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "a-day-in-the-life",
            text: "A day in the life of a DBU member"
          },
          {
            value: "our-clients",
            text: "Our clients and how we help them"
          }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>


      <p>To learn about the rest of the PSC's hard working team  <a href="https://thepsc.co.uk/team#theTeam">visit our website</a>.</p>
</div>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Website navigation
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="home">
                Home
              </a>
              <p></p>
            </li>
            <li>
              <a href="Prototype">
                GOV.UK Prototyping kit
              </a>
              <p style="font-style: italic; font-size: 14px">What it is, how the DBU uses it, and where to go for help</p>
            </li>
            <li>
              <a href="DBU-work">
                Working in the DBU
              </a>
              <p style="font-style: italic; font-size: 14px">Types of projects, DBU teams, and skills to learn and develop</p>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>

{% endblock %}
