
{% extends "layout.html" %}

{% block pageTitle %}
  Home – Intro to the DBU
{% endblock %}

{% block header %}
<header>
    <style>
     header {
        position: sticky;
        top: 0;
        width: 100%;
      }
    </style>
    <script>
      window.onscroll = function() {myFunction()};
      var header = document.getElementByID("myHeader");
      var sticky = header.offsetTop;
      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link href="http://fonts.cdnfonts.com/css/century-gothic" rel="stylesheet">
    <div class="header" 
          id="myHeader" 
          style="background: #fede7b;
                padding: 10px 20px">
      <div>
      <a href="https://thepsc.co.uk/" 
          style="font-family: 'Playfair Display'; 
                font-size: 40px; 
                color: #1C1E57; 
                font-weight: bolder">
          The PSC</a>
      </div>
      <div>
      <p style="font-family: 'Playfair Display'; 
                color: #1C1E57; 
                font-size: 15px; 
                font-weight: lighter; 
                font-style: italic">
        Digital Business Unit</p>
      </div>
    </div>
</header>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Introduction to the Digital Business Unit
      </h1>
      <p>
        The Digitial Business Unit is one of three Business Units at The PSC.
      </p>

      <p>
        We harness data science and technology for public services to deliver impactful digital solutions.
      </p>

      <p>
        You can find examples of our work in <a href="https://2020delivery.app.box.com/folder/167722564970?s=8nj8ykwcwil98x3phfks2onoi5sf1p7e">our case study archive</a>.
      </p>

      <p>You can also read more about the team and what we do on <a href="https://thepsc.co.uk/digital/">The PSC website</a>.
      </p>

      <h2 class="govuk-heading-m">About this site</h2>

      <p>This site has been developed using the <a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK prototype kit</a> to answer some common questions about the DBU, and to provide quick links to helpful sources of information.</p>

      <p>Please explore the information here, and let us know if you come across something to add!</p>

    </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Website navigation
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="Prototype">
              GOV.UK Prototyping kit
            </a>
            <p style="font-style: italic; font-size: 14px">What it is, how the DBU uses it, and where to go for help</p>
          </li>
          <li>
            <a href="GDS">
              GDS Standards
            </a>
            <p style="font-style: italic; font-size: 14px">What they are, why they're important, and how we follow them</p>
          </li>
          <li>
            <a href="DBU-work">
              Working in the DBU
            </a>
            <p style="font-style: italic; font-size: 14px">Types of projects, DBU teams, and skills to learn and develop</p>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
  </div>

{% endblock %}