{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<header>
    <style>
     header {
        position: sticky;
        top: 0;
        width: 100%;
      }
    </style>
    <script>
      window.onscroll = function() {myFunction()};
      var header = document.getElementByID("myHeader");
      var sticky = header.offsetTop;
      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link href="http://fonts.cdnfonts.com/css/century-gothic" rel="stylesheet">
    <div class="header" 
          id="myHeader" 
          style="background: #fede7b;
                padding: 10px 20px">
      <div>
      <a href="https://thepsc.co.uk/" 
          style="font-family: 'Playfair Display'; 
                font-size: 40px; 
                color: #1C1E57; 
                font-weight: bolder">
          The PSC</a>
      </div>
      <div>
      <p style="font-family: 'Playfair Display'; 
                color: #1C1E57; 
                font-size: 15px; 
                font-weight: lighter; 
                font-style: italic">
        Digital Business Unit</p>
      </div>
    </div>
</header>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start">Welcome do the DBU</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Welcome to the Digital Buissness Unit (DBU).</p>
        <p> Use this webpage to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Learn more about what the DBU does and how it works</li>
        <li>Discover some of the skills working with the DBU can give you</li>

      </ul>


      <form class="form" action="/start-answer" method="post">

         {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "what-do-you-want-to-learn",
        name: "what-do-you-want-to-learn",
        fieldset: {
          legend: {
            text: "What do you want to learn about?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "what-we-do",
            text: "What we do"
          },
          {
            value: "who-we-are",
            text: "Who we are"
          }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>


      <h2 class="govuk-heading-m">Before you start</h2>

      <p>Bookmark this page in case you ever want a refresher on the functions of the DBU.</p>

    </div>

      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Website navigation
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="home">
                  Home
                </a>
                <p></p>
              </li>
              <li>
                <a href="GDS">
                  GDS Standards
                </a>
                <p style="font-style: italic; font-size: 14px">What they are, why they're important, and how we follow them</p>
              </li>
              <li>
                <a href="DBU-work">
                  Working in the DBU
                </a>
                <p style="font-style: italic; font-size: 14px">Types of projects, DBU teams, and skills to learn and develop</p>
              </li>
            </ul>
          </nav>
        </aside>
      </div>

    </div>
{% endblock %}
