{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Welcome to the DBU",
            href: "/start"
          },
          {
            text: "What we do",
            href: "Whatwedo"
          },
          {
            text: "Bids",
            href: "bids"
          }
        ]
      }) }}
      <h1 class="govuk-heading-xl">
        Bids
      </h1>

      <p>As a Consultant or Associate Consultant, your first involvement
        with the DBU might be to help us win a bid for work. If we are successful, there is a good chance you will get to work on that project.
         We bid for work in two major ways depending on what kind of work we are trying to win: </p>
<h2 class="govuk-heading-m">Client referrals</h2>
<p> These are often referred to as 'warm tenders' meaning someone we already have a working relationship
  with has encouraged us to bid for work. We might even have helped to right the tender process.
  This type of bid tends to apply to strategy, investment, and audit work.</P>
  <p> It usually takes around six weeks from submitting a bid to knowing if we have won,
    but the process can take months overall. </p>

<h2 class="govuk-heading-m">Digital Marketplace</h2>
<p> This is a website where we make 'cold' bids, normally for digital services and managment work.
   Bids here involve writing 100 word answers to a set of questions. We tend to have a hit rate of 5-10% on these. </p>
   <p> You can read more about the latest tenders we might be bidding on below: </p>
       <p> <a href="https://www.digitalmarketplace.service.gov.uk//"> Digital Marketplace</a></p>

  <p> Click continue to learn more about strategy. </p>
{% from "govuk/components/button/macro.njk" import govukButton %}
<a href="/strategy">
{{ govukButton({
text: "Continue"
}) }}


    </div>
  </div>

{% endblock %}
