{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Welcome to the DBU",
            href: "/start"
          },
          {
            text: "Who we are",
            href: "Whoweare"
          },
          {
            text: "Day in the life",
            href: "DayintheLife"
          }
        ]
      }) }}
      <h1 class="govuk-heading-xl">
        A day in the life of a consultant on a DBU project
      </h1>

      <p>Our day to day ways of working tend to be similar to other buissness units, utilising the 'Agile' framework of daily stand-ups and weekly reflections. </p>
      <p> Generalist consultants are needed throughout DBU projects but their biggest involvement is often at the beta stage: </P>
         <p>Here they might design some basic services, like this one, based on ideas developed in the alpha stage.
        They might also run some service testing,
        speaking to users to make sure whatever is built suits their needs. </P>
      <p>  Other key skills, like project managment and communicating with software developers,
         are also required on beta projects alongside
        more conventional consulting techniques like problem solving and client influencing. </p>


     {% from "govuk/components/radios/macro.njk" import govukRadios %}
<form class= "form" action= "/where-to-next-answer" method="post">
     {{ govukRadios({
       idPrefix: "where-to-next",
       name: "where-to-next",
       fieldset: {
         legend: {
           text: "Where to next?",
           isPageHeading: true,
           classes: "govuk-fieldset__legend--l"
         }
       },
       items: [
         {
           value: "Our clients",
           text: "Our clients and how we help them"
         },
         {
           value: "What-we-do",
           text: "What we do"
         },
         {
           value: "digi-types",
           text: "Discovery, alpha and beta services"
         },

         {
           divider: "or"
         },
         {
           value: "back-to-start",
           text: "Back to start"
         }
       ]

     }) }}
   <button class="govuk-button" data-module="govuk-button">Continue</button>
   </form>
 </div>

      <p>To learn more about The PSC <a href="https://thepsc.co.uk">Visit our website</a>.</p>

    </div>
  </div>

{% endblock %}
