{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Welcome to the DBU",
            href: "/start"
          },
          {
            text: "What we do",
            href: "Whatwedo"
          },
          {
            text: "Digital services",
            href: "digital-services"
          }
        ]
      }) }}
      <h1 class="govuk-heading-xl">
        Digital services
      </h1>

      <p>The DBU offers a range of digital services. These can be seperated into the phases displayed below:</p>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          discovery
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>This refers to the initial problem-solving phase of a digital service project.
        Here we define exactly what the problem is that we have been asked to solve.
         We then conduct research and interview users to help us brainstorm exactly what a solution might look like. </p>
         <p class='govuk-body'> As with a Strategy or Performance project, there is no set time period for a discovery phase. However,
            they can typically take between eight and 12 weeks on our projects. </p>
          <p> The government's service manual has more details about exactly how they expect the discovery phase of a project to run: </p>
              <p> <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works/">How the discovery phase works</a></p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Alpha
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>The alpha phase of a project involves testing out different potential solutions to the problem identified in the discovery phase.
    This involves some basic coding, focussed on the solutions but not yet ready to show to the public.  </p>
    <p class='govuk-body'> Here it is useful to test multiple different ideas with several stakeholders to work out which solution works best and should be made into a useable prototype. Similar to discovery there is no
       set time frame for an alpha project but on average it is reasonable to assume a range of eight to twelve weeks on our projects.  </p>
       <p> For more details on alpha projects, consult the GOV.UK Service Manual: </p>
           <p> <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works/"> How the alpha phase works</a></p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Beta
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>The beta phase of a project involves converting your best idea into a useable service and testing it with members of the public.
    This is often split into 'private beta' and 'public beta'. A private beta is tested on a limited number of people who are invited to
     provide feedback before the service is released to the wider public.</p>
    <p class='govuk-body'> If your service is designed to replace a legacy service that is already in use, it is often run alongside the legacy
     service until all potential glitches have been removed and the public is ready to fully adopt it. </p>

     <p class='govuk-body'> Whilst beta projects still require consultants, anyone working on one will have to learn some
       new skills such as product managment and some specialist software engineering. Beta tends to be the longest phase of a digital service project,
        typically taking between twenty and thirty weeks.
        For more details about beta projects, it is useful to consult the governments' design manual: </p>
           <p> <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works/"> How the beta phase works</a></p>
    </div>
  </div>
  <h3 class="govuk-heading-s">Diagram of our digital services</h3>
  <img src="/public/images/digiserv.png" alt="The role of consultants on digital service projects" width="900" height="600">
</div>
      <p> click this button to learn more about digital audit </p>
      {% from "govuk/components/button/macro.njk" import govukButton %}
      <a href="/audit">
      {{ govukButton({
      text: "Continue"
      }) }}



    </div>
  </div>

{% endblock %}
