{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Welcome to the DBU",
            href: "/start"
          },
          {
            text: "What we do",
            href: "Whatwedo"
          },
          {
            text: "Investment case",
            href: "investment-case"
          }
        ]
      }) }}
      <h1 class="govuk-heading-xl">
        Investment case
      </h1>

      <p>An investment case helps to persuade officals of the need to spend
         money on a particular service. It involves translating a knowledge of digital services into language
          that is appealing to financial decision makers, such as treasury officials. <p/>
        <p> One investment case we worked on was called 'Government as a platform.'
          This focussed on transforming the digital offering onf the UK government. </p>
        <p> One upshot of this was the decision to develop the toolkit that built this website </P>
          <p> Another was 'GOV.UK Notify', which has already sent out 5.9 billion text messages.
             You can read more about how it works below:</P>

  <p> <a href="https://www.notifications.service.gov.uk//">
GOV.UK Notify</a></p>

<h2 class="govuk-heading-m">Or</h2>
      <p> Click continue to learn about the digi services we offer.</p>
      {% from "govuk/components/button/macro.njk" import govukButton %}
      <a href="/digital-services">
      {{ govukButton({
      text: "Continue"
      }) }}





    </div>
  </div>

{% endblock %}
