{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Welcome to the DBU",
            href: "/start"
          },
          {
            text: "Who we are",
            href: "Whoweare"
          },
          {
            text: "Our clients and how we help them",
            href: "Ourclientsandhowwehelp"
          }
        ]
      }) }}
      <h1 class="govuk-heading-xl">
        Our clients and how we help them
      </h1>

      <p> Since its inceptions, the DBU has helped a wide range of clients deliver a varied set of goals.
         The image below displays some of our most familiar clients and which area of project we helped them with. </p>


 <img src="/public/images/clients.png" alt="Client examples" width="600" height="400">

<div>
  <p class="govuk-body govuk-!-margin-bottom-7">
         {% from "govuk/components/radios/macro.njk" import govukRadios %}
    <form class= "form" action= "/where-to-next-answer" method="post">
         {{ govukRadios({
           idPrefix: "where-to-next",
           name: "where-to-next",
           fieldset: {
             legend: {
               text: "Where to next?",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--l"
             }
           },
           items: [
             {
               value: "day-in-the-life",
               text: "A day in the life of a DBU member"
             },
             {
               value: "What-we-do",
               text: "What we do"
             },


             {
               divider: "or"
             },
             {
               value: "back-to-start",
               text: "Back to start"
             }
           ]

         }) }}
       <button class="govuk-button" data-module="govuk-button">Continue</button>
       </form>
</div>
      <p>To learn more about The PSC <a href="https://thepsc.co.uk/">Visit our website</a>.</p>

    </div>
  </div>

{% endblock %}
