{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<h1 class="govuk-heading-l" >The PSC</h1>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start">Welcome do the DBU</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Welcome to the Digital Buissness Unit (DBU).</p>
        <p> Use this webpage to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Learn more about what the DBU does and how it works</li>
        <li>Discover some of the skills working with the DBU can give you</li>

      </ul>


      <form class="form" action="/start-answer" method="post">

         {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "what-do-you-want-to-learn",
        name: "what-do-you-want-to-learn",
        fieldset: {
          legend: {
            text: "What do you want to learn about?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "what-we-do",
            text: "What we do"
          },
          {
            value: "who-we-are",
            text: "Who we are"
          }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>


      <h2 class="govuk-heading-m">Before you start</h2>

      <p>Bookmark this page in case you ever want a refresher on the functions of the DBU.</p>

    </div>



    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Website navigation
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="Whatwedo">
                What we do
              </a>
            </li>
            <li>
              <a href="Whoweare">
                Who we are
              </a>
            </li>
            <li>

            </li>
          </ul>
        </nav>
      </aside>
      </div>

    </div>
{% endblock %}
