{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Welcome to the DBU",
            href: "/start"
          },
          {
            text: "What we do",
            href: "Whatwedo"
          },
          {
            text: "strategy",
            href: "strategy"
          }
        ]
      }) }}
      <h1 class="govuk-heading-xl">
        Strategy
      </h1>

      <p>Strategy is the type of work most familiar to regular consultants.
        It involves user research and problem solving to work out exactly what the problem is, before coming up with a solution.</p>
<p> The key skills you need for a strategy project are unviersal to consulting. Skills like stakeholder influencing, problem solving
   and project managment. The only difference is that, on a digital project, you have to have some knowledge of the landscape.
    Such as; how services work, how they are built and maintained, and how much all of this costs. </P>
         <p> click continue to learn all about investment cases. </p>
         {% from "govuk/components/button/macro.njk" import govukButton %}
         <a href="/investment-case">
         {{ govukButton({
         text: "Continue"
         }) }}


    </div>
  </div>

{% endblock %}
