{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start">Welcome to the DBU</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="Whatwedo">What we do</a>
      </li>
    </ol>
  </div>

    <h1 class="govuk-heading-xl">
        What we do
      </h1>

      <p>We work with our clients, using data science and user centred-design to co-create new digital services,
         ensuring they deliver strong financial results, are in harmony with teams and working practices,
          and include everyone.  </p>
      <p> Whilst clients can approach the DBU at any stage of a project it can be helpful to think
         of our work as a journey we help clients navigate along. The journey might start with a us submitting
          a bid for a project the client needs help with such as developing a digital strategy,
          and then continue all the way through designing or purchasing a digital service or conducting an audit for what they already
          have.</p>
          <p> At every stage we stop and ask ourselves;
           "is the PSC the right organisation to deliver the best results for this work?"  </p>
           <h3 class="govuk-heading-s">Types of work we do</h3>
           <img src="/public/images/workflow.png" alt="Workflow diagram" width="600" height="400">

      {% from "govuk/components/button/macro.njk" import govukButton %}
<a href="/bids">
{{ govukButton({
  text: "Continue"
}) }}





    </div>
  </div>

{% endblock %}
